p {
	margin-bottom: 0;
	
	font-size: 16px;
	line-height: 26px;

	color: #FFFFFF;
	font-family: "Quatro",  sans-serif;
}

small {
	font-size: 14px;
	line-height: 18px;
	
	color: #FFFFFF;
}

.bold {
	font-weight: 700 !important;
}

.bold-italic {
	font-style: italic;
	font-weight: 700;
}

.txt-white {
	color: #ffffff;
}

.txt-blue {
	color: #009ABF;
}