body {
  background-color: transparent !important;
  background: transparent !important;
  height: fit-content !important;
}

html {
  height: fit-content !important;
}

.swiper-cotacoes {
  * {
    font-family: "Montserrat", sans-serif;
  }

  h3 {
    color: #fdfdfd;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  p {
    color: #fdfdfd;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  span {
    color: #fdfdfd;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
}

.swiper-wrapper {
  justify-content: center;

  @media (max-width: 767px) {
    justify-content: unset;
  }

  .swiper-slide {
    width: 300px !important;

    @media (max-width: 767px) {
      width: 100% !important;
    }

    .content-cota {
      display: flex;
      align-items: center;
      gap: 28px;

      .variation-info {
        display: flex;
        gap: 32px;
        align-items: center;
      }
    }
  }
}
